a,
a:hover,
a:link,
a:visited,
a:active {
    text-decoration: none;
    color: black;
    text-decoration-color: black;
    font-size: 22px;
}

.tong-item {
    padding: 10px 20px;
    margin: 5px;
    font-family: "楷体";
}

.tong-img {
    border-radius: 10px;
    border: 2px solid green;
    width: 44px;
    height: 44px;
}

body.a {
    background-image: url("../picture/开机画面红似火.png");
    background-size: 100%;
    background-attachment: fixed;
}

.tong-span {
    float: right;
    margin: 10px 0;
}

.input-group {
    padding: 10px;
}

hr {
    margin: 0px 10px;
}

h3 {
    text-indent: 15px;
    font-family: "华文行楷";
    margin: 4px 0px;
}

.form-inline {
    width: 100%;
}

.container {
    font-size: 16px;
    margin: 0px 0px 54px 0px;
}

.jiaoliu {
    /* width: fit-content; */
    /* max-width: 75%; */
    padding: 0.5rem;
    border-radius: 1rem;
    margin: 5px;
}

.tong-imgb {
    margin: 5px;
    width: 44px;
    height: 44px;
}

.tong-imgd {
    padding: 0;
    text-align: center;
}

.col{
    padding: 0;
}

h5{
    margin: 3px 5px;
    /* text-align: center; */
    font-family: "华文行楷";
}
